#tooltip {
  position: absolute;
  display: none;
  padding: 10px;
  bottom: -27px;
  right: -577px;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.tooltip-parent {
  position: relative;
}

.addBorder {
  border: 1px solid black;
}

.commentDiv {
  padding: 10px;
  background-color: whitesmoke;
  margin-bottom: 10px;
  position: absolute;
  left: 350px;
  top: 0;
}

.commentDiv:hover {
  cursor: pointer;
}
