.tooltip-parent {
  position: relative;
}

.addBorder {
  border: 1px solid black;
}

.commentDiv,
.unselectable {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.commentDiv:hover {
  cursor: pointer;
}

.zoomEffect {
  z-index: 10;
  right: -53px;
  scale: 1.1;
  border: 1px;
  box-shadow: 1px 1px 7px;
}
