.tooltip-parent {
  position: relative;
}

.addBorder {
  border: 1px solid black;
}

.commentDiv {
  padding: 10px;
  background-color: whitesmoke;
  margin-bottom: 10px;
  position: absolute;
  left: 350px;
  top: 0;
}

.commentDiv:hover {
  cursor: pointer;
}
