.dark-theme {
  --primary-color: #fff;
  --secondary-text-color: #dfdfdf;
  --secondary-color: green;
  --bg-color: #1c2d3b ;
  --body-color: #14212d ;
  --shadow-color: rgb(102, 102, 102);
  --image-bg: #113011;
  --tooltip-bg: #000;
  --button-color: #4e0068;
  --button-hover-color: #4e0068b8;
}
.light-theme {
  --primary-color: #000;
  --secondary-text-color: #666;
  --secondary-color: green;
  --bg-color: #fff;
  --body-color: #f5f5f5;
  --shadow-color: rgb(109, 109, 109);
  --image-bg: #7eb17e;
  --tooltip-bg: #fff;
  --button-color: rgb(8, 0, 255);
  --button-hover-color: rgb(24, 20, 129);
}

::-webkit-scrollbar {
  width: 4px; /* Set the width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: var(--image-bg); /* Set the color of the thumb */
  border-radius: 2px; /* Set the border radius of the thumb */
}
::-webkit-scrollbar-track {
  background-color: var(--body-color) !important; /* Set the color of the track */
}


/* Home Page */
.float-description {
  color: var(--primary-color) !important;
}
.home-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.1rem 10%;
  background-color: var(--bg-color);
}
.home-nav-logo {
  font-size: 24px;
  color: var(--primary-color);
  cursor: pointer;
}
.home-body {
  min-height: 83vh;
  padding: 1.2rem 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--body-color);
}
.search-bar-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.search-bar {
  max-width: 600px;
  width: 100%;
  margin: 30px 0;
}
.suggestion-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.search-input{
  border-radius: 20px;
  box-shadow: 0 0 10px var(--shadow-color);
  padding: 8px 20px;
}
.suggestion-tag {
  padding: 5px 15px;
  border: 1px solid #fff;
  color:var(--primary-color);
  border-radius: 15px;
  box-shadow: 0 0 8px var(--shadow-color);
  background: #ffffff74;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-size: 15px;
}
.suggestion-tag:hover {
  box-shadow: 0 0 4px var(--shadow-color);
  background: #ffffff62;
}
.search-icon {
  cursor: pointer;
}

.error-blog {
  width: 100%;
  border-top: 1px solid var(--secondary-color);
  margin-top: 50px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.error-title {
  color: var(--primary-color);
  font-size: 20px;
}
.error-description {
  color: var(--secondary-text-color);
}
.blog-list {
  width: 100%;
  padding-top: 50px;
  border-top: 1px solid var(--secondary-color);
  margin: 50px 0;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 40px;
}
.blog-card {
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  border: 1px solid #fff;
  color:var(--primary-color);
  border-radius: 15px;
  padding: 24px;
  background: #ffffff74;
}
.blog-card-img {
  background: var(--image-bg);
  width: 302px;
  height: 160px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blog-card-img .ant-skeleton-image {
  background: none !important;
}
.blog-card-img img {
  max-width: 100%;
  max-height: 100%;
}
.blog-card-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.blog-card-title h3 {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}
.blog-card-title {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}
.blog-card-title Button {
  padding: 0 !important;
  color: var(--button-color);
}
.blog-card-title button:hover {
  color: var(--button-hover-color) !important;
}
.blog-card-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.blog-tag {
  padding: 3px 8px;
  border: 1px solid var(--primary-color);
  color:var(--primary-color);
  border-radius: 12px;
  transition: all 0.3s ease-in-out;
  font-size: 12px;
}
.blog-card-auth {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--secondary-text-color);
}
/* Footer  */

.footer {
  text-align: center;
  padding: 1.2rem 10%;
  background-color: var(--bg-color);
  color: var(--primary-color);
}


/* Dashboard  */

.dashboard-user {
  margin: 22px 4px;
  padding: 24px 14px;
  color: var(--primary-color);
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 14px;
  background-color: var(--body-color);
  border-radius: 12px;
}

.dashboard-left {
  width: 100%;
  height: 100vh;
}
.dashboard-left .ant-layout-sider-children{
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}
.dashboard-footer-menu {
  margin: 22px 4px;
  padding: 24px 14px;
  color: var(--primary-color);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  background-color: var(--body-color);
  border-radius: 12px;
}
.dashboard-main {
  background-color: var(--body-color);
  max-height: 100vh;
  overflow-y: auto;
}
.dashboard-header {
  background: var(--bg-color) !important;
  margin:24px;
  border-radius: 12px;
  padding-left: 24px !important;
  padding-right: 24px !important;
}
.dashboard-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user-role {
  font-family: 'Poppins', sans-serif !important;
  cursor: pointer;
  background: transparent;
  height: 33px;
  width: 100%;
  max-width: 80px;
  border-radius: 5px;
  color: var(--primary-color);
  font-size: 16px;
  border: none;
  outline: none;
  padding: 0;
}
.user-role option {
  color: #000;
}

.dashboard-header-left {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 20px;
  color: var(--primary-color);
}
.dashboard-header-left svg {
  padding: 12px;
  background-color: var(--body-color);
  border-radius: 12px;
}
.dashboard-header-right button, .dashboard-footer-menu button {
  color: var(--primary-color) ;
}
.dashboard-footer-menu button:hover {
  color: var(--primary-color) !important;
}
.dashboard-header-right button {
  background: var(--bg-color);
  box-shadow: 0 0 1px var(--shadow-color);
}
.dashboard-home-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--bg-color);
  padding: 12px 24px;
}
.dashboard-home-title h2{
  color: var(--primary-color);
  font-weight: 400;
  font-size: 22px;
}
.home-count {
  color: var(--secondary-text-color);
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 40px;
}
.home-count div span {
  padding: 8px 16px;
  background-color: var(--bg-color);
  margin-right: 15px;
  border-radius: 12px;
}
.dashboard-home-content {
  margin: 30px 0;
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 50px;
}
.dashboard-stat-card {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(2,  1fr);
}
.dashboard-stat-card >* {
  min-width: 200px;
}
.dashboard-stat-card .ant-card {
  background: var(--bg-color) !important;
  border: 1px solid #ffffff;
}
.dashboard-stat-card .ant-statistic-title {
  color: var(--secondary-text-color) !important;
}

.dashboard-recent-posts {
  min-height: 350px;
  background: var(--bg-color) !important;
  border: 1px solid #ffffff;
}
.result .ant-result-title{
  color: var(--primary-color) !important;
}
.result .ant-result-subtitle{
  color: var(--secondary-text-color) !important;
}
.recent-post-title {
  font-size: 18px;
  font-weight: 500;
  color: var(--primary-color);
  margin: 0 !important;
}
.recent-post {
  display: grid;
  grid-template-columns: 3fr 1fr;
  background: var(--body-color) !important;
  padding: 0 12px;
  border-radius: 12px;
  margin-top: 15px;
  cursor: pointer;
}
.recent-post:hover {
  box-shadow: 0 0 5px var(--shadow-color);
}
.recent-post h3{
  font-size: 15px;
  font-weight: 400;
  color: var(--primary-color);
  overflow: hidden;
  white-space: nowrap; /* Prevent text from wrapping */
  text-overflow: ellipsis;
}
.recent-post p {
  text-align: right;
  font-size: 14px;
  font-weight: 400;
  color: var(--secondary-text-color);
}
.recent-button-wrapper {
  margin-top: 20px;
  text-align: center;
}
.title-column {
  text-overflow: ellipsis;
  text-wrap: nowrap;
  overflow: hidden;
  width: 100%;
}


/* Create Blog  */

.optional-wraper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 24px;
}
.blog-code-editor {
  background: var(--body-color);
  border-radius: 5px;
  padding: 14px;
}
.editor-spinner {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  height: 93%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: not-allowed;
}
.ant-collapse-expand-icon svg, .generate-blog-header {
  font-size: 18px !important;
}
.generate-blog-header {
  display: flex;
  align-items: center;
  gap: 15px;
}
.ant-tooltip .ant-tooltip-arrow:before, .ant-tooltip .ant-tooltip-arrow:after, .ant-tooltip .ant-tooltip-inner {
  background-color: transparent !important;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 5px #000 !important;
  color: unset !important;
}
.tooltip-description-p {
  margin: 0 15px !important;
  padding: 0 !important;
}
.md-editor-custom .w-md-editor-toolbar, .md-editor-custom .w-md-editor-preview, .md-editor-custom .wmde-markdown, .md-editor-custom{
  background: var(--bg-color) !important;
  color: var(--primary-color) !important;
}
.md-editor-custom .w-md-editor-toolbar li > button, .w-md-editor-text-pre .token.title.important{
  color: var(--primary-color) !important;
}
.w-md-editor-preview code {
  background: var(--body-color) !important;
}
.md-editor-custom .w-md-editor-text>* {
  font-family: 'Poppins', sans-serif !important;
}

.tags-input-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px;
  background: var(--body-color);
  border-radius: 5px;
}
.tags-input-wrapper Input {
  width: 150px;
  border: 1px solid var(--primary-color);
}
.review-card {
  display: flex;
  background: #d5d5d524;
  padding: 12px;
  border-radius: 12px;
}
.editor-card-wrapper {
  flex: 5;
  max-height: 65vh;
  overflow-y: auto;
}
.comment-card-wrapper {
  flex: 2;
  margin-left: 12px;
  max-height: 65vh;
  overflow-y: auto;
  background: #d5d5d524;
  border-radius: 12px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.comment-card {
  margin: 0 5px;
  transition: all 0.2s ease-in-out;
}
.comment-tite {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  background: #d5d5d524;
  padding: 10px;
  border-radius: 12px;
}
.add-comment-card .ant-card-body{
  padding: 12px !important;
}
.add-comment-card .ant-card-body .ant-form-item:nth-child(2) {
  margin-bottom: 0 !important;
}
.comment-card-title-wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
}
.comment-card-title {
  font-size: 14px;
  font-weight: 400;
}
.comment-time {
  font-size: 12px;
  font-weight: 300;
}

/* View Blog  */

.view-blog-title {
  font-size: 24px;
  color: var(--primary-color);
  margin-top: 30px;
}
.view-blog-divider {
  border-block-start: 1px solid var(--secondary-color);
}
.view-blog-description {
  color: var(--primary-color);
}